<p style="margin-bottom:30px">
<%= "Hi #{alert[:user][:name]}, RentalSpy found #{alert[:rentals].length}" %> new <%= alert[:rentals].length > 1 ?
  "rentals " : "rental " %> for you! Apply fast!</p>
<span style="display: none !important;"><%= alert[:unique_id] %></span>
<% alert[:rentals].each_with_index do |rental,i| %>
  <% if i > 0  %>
    <p>...</p>
  <% end %>
  <h3 style="line-height:0"><%= "<a href=#{rental[:url]}> #{rental[:text]}</a>"%><span style="display: none !important;"><%= alert[:unique_id] %></span></h3>
  <%= "<b>Source:</b> #{rental[:source]}" %><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <br>
  <%= "<b>Location:</b> #{rental[:location].gsub("Stockholms stad - ","")}" %><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <br>
  <%= "<b>Type:</b> #{rental[:type].to_s.capitalize}" %><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <% if rental[:rent] != 0 %>
    <br><%= "<b>Price</b>: #{rental[:rent]} SEK/month" %><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <% else %>
    <br><%= "<b>Price</b>: N/A"%><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <% end %>
  <% if rental[:rooms] != 0 %>
    <br><%= "<b>Rooms</b>: #{ if rental[:rooms] == rental[:rooms].round then rental[:rooms].round else rental[:rooms] end}" %><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <% else %>
    <br><%= "<b>Rooms</b>: N/A"%><span style="display: none !important;"><%= alert[:unique_id] %></span>
  <% end %>
  <br><%= "<b>Size</b>: #{if rental[:size] != 0 then rental[:size].to_s + 'm²' else 'N/A' end}"%><span style="display: none !important;"><%= alert[:unique_id] %></span>
<% end %>

<br>
<br>
<span style="display: none !important;"><%= alert[:unique_id] %></span>
<p>Not interested in these rentals? <a href = "http://rentalspy.se/profile">Edit your filters</a>

<p>Help spread the word! Share RentalSpy with your friends to earn a free month of alerts!</p>
<a target="_blank" href="http://www.facebook.com/sharer.php?u=https://www.rentalspy.se/?refid=<%=alert[:user][:referral_id]%>" style="background-color:#3b5998;color:white;text-transform: uppercase;box-sizing: border-box;width:auto;
  padding: 0.6em 1.9em;margin: 5px;margin-left:0;text-align: center;text-decoration: none;font-family: sans-serif; font-size:11px;border-radius: 5px !important;">
  <span style="display:inline-block;line-height:1.2;font-size:11px;color:white;">Facebook</span>
</a>
<a href="http://twitter.com/share?text=Finally a good way to find an apartment in Stockholm: RentalSpy! &url=https://www.rentalspy.se/?refid=<%= alert[:user][:referral_id]%>&hashtags=rentalspy" target="_blank" style="background-color:#00a9f1;color:white;text-transform: uppercase;box-sizing: border-box;width:auto;
  padding: 0.6em 2.2em;margin: 5px;text-align: center;text-decoration: none;font-family: sans-serif; font-size:11px;border-radius: 5px !important;">
  <span style="display:inline-block;line-height:1.2;font-size:11px;color:white;">Twitter</span>
</a>
<br>
<p>Want to unsubscribe from all alerts? <a href = <%="http://rentalspy.se/unsubscribe?email=#{alert[:user][:email]}" %>>Unsubscribe</a>
<hr>
<p style="margin-bottom:2px;">
<span style="display: none !important;"><%= alert[:unique_id] %></span>
Rental alerts provided by
</p>
<a href="http://rentalspy.se">
<span style="display: none !important;"><%= alert[:unique_id] %></span>
  <img src="https://s3-eu-west-1.amazonaws.com/rentalspy-images/logo.png" width="131" height="30">
</a>
<br>
<span style="display: none !important;"><%= alert[:unique_id] %></span>
