<%= "Hi #{alert[:user][:name]}, #{alert[:rentals].length}" %> new <%= alert[:rentals].length > 1 ? "rentals were " : "rental matching your filters was " %> just posted!

<% alert[:rentals].each do |rental| %>
  <%= "Title: #{rental[:text]}" %>
  <%= "URL: #{rental[:url]}" %>
  <%= "Location: #{rental[:location]}" %>
  <%= "Source: #{rental[:source]}" %>
  <%= if rental[:rent] != 0 then "Price: #{rental[:rent]}" else "Price: N/A" end %>
  <%= if rental[:rooms] != 0 then "Rooms: #{rental[:rooms]}" else "Rooms: N/A" end %>
  <%= if rental[:size] != 0 then "Size: #{rental[:size]}m²" else "Size: N/A" end %>
<% end %>

Not interested in this rental? Edit your filters at https://www.rentalspy.se/profile

Help spread the word! Share RentalSpy with friends and earn a free month of alerts!
Share link: www.rentalspy.se/?refid=<%="#{alert[:user][:referral_id]}"%>


You are receiving this email because you have signed up for RentalSpy: https://www.rentalspy.se

Want to unsubscribe from all alerts? http://rentalspy.se/unsubscribe?email=<%=alert[:user][:email] %>
